html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

input,
textarea,
select,
button {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
}

input[type=text],
input[type=password],
input[type=email],
input[type=number],
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  overflow: hidden;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 130%;
  background-size: cover;
  background-position: center;
}

.sections-slider {
  position: relative;
  width: 100%;
  height: 100vh;
}
.sections-slider__content {
  height: 100vh;
}
.sections-slider .swiper-scrollbar-drag {
  background-color: #58ebeb;
}
.sections-slider__scrollbar {
  position: absolute;
  z-index: 5;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 5px;
  cursor: pointer;
  background-color: inherit;
  padding: 0 0px 0 20px;
}
.sections-slider__scrollbar:hover {
  padding-right: 15px;
}
.sections-slider__scrollbar:hover .swiper-scrollbar-drag {
  width: 15px;
}

.slide__container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

[class*=__bg] {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
}
[class*=__bg]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: -1;
}

.skills .slide__container,
.contacts .slide__container {
  color: #fff;
  font-size: 60px;
  text-align: center;
  padding-top: 20%;
}

.welcome-page__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10%;
  padding: 30px;
}
.welcome-page__image {
  box-sizing: border-box;
  border: 5px solid #5aa72d;
  box-shadow: -10px 10px 30px #5aa72d;
  max-width: 400px;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}
.welcome-page__image img {
  width: 100%;
}
.welcome-page__title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 40px;
}
.welcome-page__title-text {
  box-sizing: border-box;
  text-align: center;
  max-width: 450px;
  width: 100%;
  padding: 30px;
}
.welcome-page__title-text p {
  margin-bottom: 40px;
}
.welcome-page .slide__container {
  padding-top: 10%;
}

.portfolio {
  padding: 50px 30px;
  max-width: 100%;
  box-sizing: border-box;
}
.portfolio__bg {
  padding: 30px;
}
.portfolio__gallery {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 5%;
       column-gap: 5%;
  row-gap: 24px;
  overflow-y: auto;
}
.portfolio__item {
  max-width: 30%;
  display: flex;
  flex-direction: column;
}
.portfolio__item-image {
  display: flex;
  align-items: center;
  flex-grow: 1;
  background-color: #000;
}
.portfolio .slide__container {
  max-height: 100%;
  overflow-y: auto;
  position: relative;
  border-radius: 20px;
}

#scroll {
  overflow: hidden;
}

#scroll {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#scroll::-webkit-scrollbar {
  display: none;
}